.voltmxfw_baseskincss,
.defBtnBlockedUI,
.defBtnFocus,
.defBtnHover,
.defBtnNormal,
.defBtnPressed,
.defLabel,
.sknLblDescription,
.sknLblRowHeading,
.sknLblStrip,
.sknLblTimeStamp,
.sknSectionHeaderLabelSkin,
.defTextAreaBlockedUI,
.defTextAreaHover,
.defTextBoxBlockedUI,
.slCameraFocus,
.slForm,
.slSplashiOS,
.slWatchForm {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    color: #000000;
    border: none;
    background: transparent;
}

.voltmxcustomcss {
    font-size: 16px;

}





.defBtnBlockedUI,
[kw].defBtnBlockedUI-hover,
[kw].defBtnBlockedUI-focus,
[kw].defBtnBlockedUI-active {










    border: 1px solid #ffffff;




    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
















    font: normal 500 24.0px Helvetica;





    color: #8F8F8F;












    background: #E6E6E6;











}





















.defBtnFocus,
[kw].defBtnFocus-hover,
[kw].defBtnFocus-focus,
[kw].defBtnFocus-active {










    border: 1px solid #ffffff;




    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
















    font: normal 500 24.0px Helvetica;





    color: #ffffff;












    background: #7E909E;











}





















.defBtnHover,
[kw].defBtnHover-hover,
[kw].defBtnHover-focus,
[kw].defBtnHover-active {










    border: 1px solid #ffffff;




    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
















    font: normal 500 24.0px Helvetica;





    color: #ffffff;












    background: #3d5466;











}





















.defBtnNormal,
[kw].defBtnNormal-hover,
[kw].defBtnNormal-focus,
[kw].defBtnNormal-active {










    border: 1px solid #ffffff;




    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
















    font: normal 500 24.0px Helvetica;





    color: #ffffff;












    background: #587387;











}





















.defBtnPressed,
[kw].defBtnPressed-hover,
[kw].defBtnPressed-focus,
[kw].defBtnPressed-active {










    border: 1px solid #ffffff;




    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
















    font: normal 500 24.0px Helvetica;





    color: #ffffff;












    background: #354958;











}





















.defLabel,
[kw].defLabel-hover,
[kw].defLabel-focus,
[kw].defLabel-active {










    border: 1px solid #14A1DE;


















    font: normal 400 32.0px Helvetica;





    color: #212121;












    background-color: rgba(0, 0, 0, 0.0);











}





















.defTextAreaBlockedUI,
[kw].defTextAreaBlockedUI-hover,
[kw].defTextAreaBlockedUI-focus,
[kw].defTextAreaBlockedUI-active {










    border: 1px solid #ADADAD;


















    font: normal 400 17.1px Helvetica;





    color: #333333;













    background-color: #F3F3F3;









    -webkit-appearance: none;



}


















textarea[kplaceholderskin='defTextAreaBlockedUI']::-webkit-input-placeholder {









    border: 1px solid #ADADAD;

















    font: normal 400 17.1px Helvetica;





    color: #333333;










    background-color: #F3F3F3;






    -webkit-appearance: none;

}


textarea[kplaceholderskin='defTextAreaBlockedUI']::-moz-placeholder {









    border: 1px solid #ADADAD;

















    font: normal 400 17.1px Helvetica;





    color: #333333;










    background-color: #F3F3F3;






    -webkit-appearance: none;

}


textarea[kplaceholderskin='defTextAreaBlockedUI']:-ms-input-placeholder {









    border: 1px solid #ADADAD;

















    font: normal 400 17.1px Helvetica;





    color: #333333;










    background-color: #F3F3F3;






    -webkit-appearance: none;

}







.defTextAreaHover,
[kw].defTextAreaHover-hover,
[kw].defTextAreaHover-focus,
[kw].defTextAreaHover-active {










    border: 1px solid #14a1de;


















    font: normal 400 17.1px Helvetica;





    color: #333333;













    background-color: #ffffff;









    -webkit-appearance: none;



}


















textarea[kplaceholderskin='defTextAreaHover']::-webkit-input-placeholder {









    border: 1px solid #14a1de;

















    font: normal 400 17.1px Helvetica;





    color: #333333;










    background-color: #ffffff;






    -webkit-appearance: none;

}


textarea[kplaceholderskin='defTextAreaHover']::-moz-placeholder {









    border: 1px solid #14a1de;

















    font: normal 400 17.1px Helvetica;





    color: #333333;










    background-color: #ffffff;






    -webkit-appearance: none;

}


textarea[kplaceholderskin='defTextAreaHover']:-ms-input-placeholder {









    border: 1px solid #14a1de;

















    font: normal 400 17.1px Helvetica;





    color: #333333;










    background-color: #ffffff;






    -webkit-appearance: none;

}







.defTextBoxBlockedUI,
[kw].defTextBoxBlockedUI-hover,
[kw].defTextBoxBlockedUI-focus,
[kw].defTextBoxBlockedUI-active {










    border: 1px solid #666666;




    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);













    background-color: #f3f3f3;









    -webkit-appearance: none;



}

















input[kplaceholderskin='defTextBoxBlockedUI']::-webkit-input-placeholder {









    border: 1px solid #666666;




    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #f3f3f3;






    -webkit-appearance: none;

}


input[kplaceholderskin='defTextBoxBlockedUI']::-moz-placeholder {









    border: 1px solid #666666;




    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #f3f3f3;






    -webkit-appearance: none;

}


input[kplaceholderskin='defTextBoxBlockedUI']:-ms-input-placeholder {









    border: 1px solid #666666;




    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #f3f3f3;






    -webkit-appearance: none;

}








.sknLblDescription,
[kw].sknLblDescription-hover,
[kw].sknLblDescription-focus,
[kw].sknLblDescription-active {

















    font: normal normal 14.7px Helvetica;





    color: #575757;












    background-color: rgba(0, 0, 0, 0.0);











}





















.sknLblRowHeading,
[kw].sknLblRowHeading-hover,
[kw].sknLblRowHeading-focus,
[kw].sknLblRowHeading-active {













































    font: normal bold 17.1px Helvetica;














    background-color: rgba(0, 0, 0, 0.0);


















}





















.sknLblStrip,
[kw].sknLblStrip-hover,
[kw].sknLblStrip-focus,
[kw].sknLblStrip-active {

















    font: normal normal 11.2px Helvetica;





    color: #4b88f1;













    background-color: #4b88f1;











}





















.sknLblTimeStamp,
[kw].sknLblTimeStamp-hover,
[kw].sknLblTimeStamp-focus,
[kw].sknLblTimeStamp-active {

















    font: normal normal 14.7px Helvetica;





    color: #8e8e8e;












    background-color: rgba(0, 0, 0, 0.0);











}





















.sknSampleRowTemplate,
[kw].sknSampleRowTemplate-hover,
[kw].sknSampleRowTemplate-focus,
[kw].sknSampleRowTemplate-active {










    border: 0px solid #000000;


















    color: #000000;













    background-color: #82485d;











}





















.sknSampleSectionHeaderTemplate,
[kw].sknSampleSectionHeaderTemplate-hover,
[kw].sknSampleSectionHeaderTemplate-focus,
[kw].sknSampleSectionHeaderTemplate-active {










    border: 0px solid #000000;


















    color: #000000;













    background-color: #ffffff;











}





















.sknSectionHeaderLabelSkin,
[kw].sknSectionHeaderLabelSkin-hover,
[kw].sknSectionHeaderLabelSkin-focus,
[kw].sknSectionHeaderLabelSkin-active {













































    font: normal bold 20.0px Helvetica;














    background-color: rgba(148, 1, 148, 0.0);


















}





















.slCameraFocus,
[kw].slCameraFocus-hover,
[kw].slCameraFocus-focus,
[kw].slCameraFocus-active {




























    background: url(../../images/camera_focus.png) no-repeat;












}





















.slDynamicNotificationForm,
[kw].slDynamicNotificationForm-hover,
[kw].slDynamicNotificationForm-focus,
[kw].slDynamicNotificationForm-active {

















    font: normal normal 16.0px Helvetica;





    color: #000000;













    background-color: #000000;











}





















.slFBlockedUIbox,
[kw].slFBlockedUIbox-hover,
[kw].slFBlockedUIbox-focus,
[kw].slFBlockedUIbox-active {










    border: 1px solid #ADADAD;


















    color: #000000;













    background-color: #f3f3f3;











}





















.slFFocusbox,
[kw].slFFocusbox-hover,
[kw].slFFocusbox-focus,
[kw].slFFocusbox-active {










    border: 1px solid #14a1de;


















    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);











}





















.slFSBlockedUIbox,
[kw].slFSBlockedUIbox-hover,
[kw].slFSBlockedUIbox-focus,
[kw].slFSBlockedUIbox-active {










    border: 1px solid #ADADAD;


















    color: #000000;













    background-color: #f3f3f3;











}





















.slFSFocusSbox,
[kw].slFSFocusSbox-hover,
[kw].slFSFocusSbox-focus,
[kw].slFSFocusSbox-active {










    border: 1px solid #14a1de;


















    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);











}





















.slFbox,
[kw].slFbox-hover,
[kw].slFbox-focus,
[kw].slFbox-active {










    border: 1px solid #666666;


















    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);











}






















.slForm,
[kw].slForm-hover,
[kw].slForm-focus,
[kw].slForm-active {



























    background-color: #ffffff;











}






















.slSplashiOS,
[kw].slSplashiOS-hover,
[kw].slSplashiOS-focus,
[kw].slSplashiOS-active {



























    background-color: #000000;











}





















.slStaticNotificationForm,
[kw].slStaticNotificationForm-hover,
[kw].slStaticNotificationForm-focus,
[kw].slStaticNotificationForm-active {

















    font: normal normal 16.0px Helvetica;





    color: #000000;













    background-color: #000000;











}





















.slTitleBar,
[kw].slTitleBar-hover,
[kw].slTitleBar-focus,
[kw].slTitleBar-active {

















    font: normal normal 16.0px System;





    color: #333333;













    background-color: #ffffff;











}






















.slWatchForm,
[kw].slWatchForm-hover,
[kw].slWatchForm-focus,
[kw].slWatchForm-active {



























    background-color: #000000;











}





















.theme_styles,
[kw].theme_styles-hover,
[kw].theme_styles-focus,
[kw].theme_styles-active {

















    font: normal normal 16.0px Helvetica;





    color: #000000;










    background: inherit;









}